* {
	box-sizing: border-box;
}

/* Mobile Styles
@media (max-width:400px){
    .masterbar{
        flex-basis: 25%;
        width: 25em;
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        display: flex;
    }
    .nav-main-menu{
        text-align: center;
    }
  }
   */






.grid {
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}


.grid-col-1of2{
    flex-basis: 50%;

    /* margin-inline-start: 20rem; */
    /* -webkit-flex-wrap: wrap;
    flex-wrap: wrap; */

}
/* 515px/16 = 32.1875em  */
@media (min-width: 32.1875em){
    .grid-col-1of2{
        flex-basis: 50%;
    }
    }

.grid-col-1of3{
   
    flex-basis: 33.333%;
    /* padding: 0.5rem; */
    /* margin-left: 0.5rem;
    margin-right: 0.5rem; */
    text-align: left;
    /* padding: 0.5rem; */
}
/* 837px/16 = 52.3125em  */
@media (min-width: 52.3125em){
    .grid-col-1of3{
        flex-basis: 33.333%;
    }
    }

.grid-col-1of4{
	flex-basis: 100%;
}
/* 645px/16 = 40.3125em  */
@media (min-width: 40.3125em){
.grid-col-1of4{
	flex-basis: 25%;
}
}

nav .grid-col-1of5 {
    flex-grow: 1;
    flex-basis: 100%;
}

@media (min-width: 23.5em) {

	nav .grid-col-1of5 {
		flex-basis: 50%;
	}

}

.grid-col-1of2 {
    flex-basis: 50%;
}

nav .grid-col-1of5 {
    flex-basis: 33.333%;

}

.grid-col-12of12 {
    flex-basis: 100%;
    margin-left: 17rem;
    margin-right: 17rem;
}

/*
.grid-col-12of12 {
	flex-basis: 100%;
}

.grid-col-9of12 {
	flex-basis: 75%;
}

.grid-col-8of12 {
	flex-basis: 66.666%;
}

.grid-col-6of12 {
	flex-basis: 50%;
}

.grid-col-4of12 {
	flex-basis: 33.333%;
}

.grid-col-3of12 {
	flex-basis: 25%;
}
*/
